/*.container{

    background-color: aqua;
    display: flex;*/
/*    flex-direction: row-reverse;*/
/*    flex-direction: column-reverse;*/
/*    height: 100px;*/
/*    height: 80vh;*/
/*    border: 1px dashed red;
} */

/*div{
    background-color: rgb(21, 248, 173);
    border: 2px solid white;
}

.box{
    border: 1px dashed rgb(48, 97, 235);

    display:flex;*/
/*    flex-wrap: wrap;*/
/*    flex-wrap: wrap-reverse;
}

.box div {
    border: 1px solid;
    background-color: rgb(243, 181, 158);
    width: 350px;
}*/


.eli{
    display: flex;
    border: 1px dashed royalblue;
}

.eli div {
    border: 1px solid;
    flex: 1;
}